<h1>Listing members</h1>
    <% if notice %>
        <p id="notice"><%= notice %></p>
    <% end %>

<table>
  <tr>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>Password</th>
    <th>Salt</th>
    <th>Street line 1</th>
    <th>Street line 2</th>
    <th>City</th>
    <th>State</th>
    <th>Zip</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @members.each do |member| %>
  <tr>
    <td><%= member.first_name %></td>
    <td><%= member.last_name %></td>
    <td><%= member.email %></td>
    <td><%= member.hashed_password %></td>
    <td><%= member.salt %></td>
    <td><%= member.street_line_1 %></td>
    <td><%= member.street_line_2 %></td>
    <td><%= member.city %></td>
    <td><%= member.state %></td>
    <td><%= member.zip %></td>
    <td><%= link_to 'Show', member %></td>
    <td><%= link_to 'Edit', edit_member_path(member) %></td>
    <td><%= link_to 'Destroy', member, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Member', new_member_path %>
